@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



/* .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
  } */
  /* .italianno-regular {
    font-family: "Italianno", cursive;
    font-weight: 400;
    font-style: normal;
  } */
  
  

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.motion{
    height: 100vh;
    width: 100%;
}

.motion video{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -999;
}

header{
    position: sticky;
    top:0px;
    z-index: 100;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    width: 100%;
    background: black;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(30px);
    /* z-index: -999; */
}

.navbar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 2rem;
    max-width: 1600px;
}

.navbar-logo{
    font-size: 2rem;
    font-weight: 600;
    font-family: "Italianno", cursive;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.navbar-logo i{
    padding-right: .5rem;
    color: blue;
}

.navbar-container .navbar-menu{
    display: flex;
    text-align: center;
    gap: 1.5rem;
    list-style: none;
}

.navbar-container .navbar-menu li a{
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    padding: 3px 20px;
    border-radius: 20px;
    border: 2px solid transparent;
    transition: all 0.7s ease;
    white-space: nowrap;
}

.navbar-container .navbar-menu li a:hover,
.navbar-container .navbar-menu li a.active{
    color: #162530;
    background: rgba(188, 212, 229, 0.8);
    border: 2px solid #fff;
}

.navbar-toggle{
    display: none;
    background: transparent;
    padding: 10px;
    border: none;
    cursor: pointer;
    /* box-shadow: 0 10px 20 px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(30px); */
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background: #fff;
    transition: all 0.3s ease-in-out;
}


@media (max-width: 800px){
    .navbar{
        backdrop-filter: none;
    }
    .navbar-logo{
        font-size: 1.7rem;
    }
    .navbar-container .navbar-menu li a{
        font-size: 1.2rem;
        padding: 3px 15px;
    }
    .navbar-container .navbar-menu{
        display: none;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.7rem !important;
        position: absolute;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        padding: 5rem 1.5rem;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(30px);
    }

    .navbar-container .navbar-menu.active{
        display: flex;
    }
    .navbar-toggle{
        display: block;
        z-index: 999;
    }
    .navbar-toggle.active .bar:nth-child(2){
        opacity: 0;
    }
    .navbar-toggle.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .navbar-toggle.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
   
}

.text-box{
    width: 90%;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1{
  font-family: "Italianno", cursive;
    font-size: 100px;
    font-weight: 500;
    letter-spacing: 2px;
}

.ex-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 14px 45px;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    background: green;
    position: relative;
    cursor: pointer;
    letter-spacing: 2px;
}

.ex-btn:hover {
    background: rgb(4, 109, 9);
    border: 1px solid blue;
    color: black;
    transition-duration: 1s;
}

@media(max-width: 800px) {
    .text-box h1 {
        font-size: 50px;
    }

    .ex-btn {
        padding: 12px 43px;
        font-size: 12px;
        top: 20px;
    }
}

.hover {
    width: 100%;
    background-color: #666;
    padding: 60px 20px;
  }

  .special {
    text-align: center;
    font-size: 80px;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
    margin-bottom: 40px;
    color: black;
  }

  .special span{
    text-decoration: none;
    color: red;
  }

  .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
  }

  .image-card {
    position: relative;
    width: calc(33.33% - 20px);
    height: 250px;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
  }

  .image-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
  }

  .image-card:hover img {
    transform: scale(1.1);
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.55);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.4s ease;
    padding: 20px;
    text-align: center;
  }

  .image-card:hover .overlay {
    opacity: 1;
  }

  .overlay h1 {
    font-family: "Italianno", cursive;
    font-size: 70px;
    margin-bottom: 15px;
  }

  .overlay button {
    padding: 15px 15px;
    background: blue;
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s ease;
  }

  .overlay button:hover {
    background: rgb(83, 83, 204);
  }

  @media (max-width: 1024px) {
    .image-card {
      width: calc(50% - 20px);
    }
  }

  @media (max-width: 600px) {
    .image-card {
      width: 100%;
    }
    .special{
        font-size: 50px;
    }
  }




    .master-chefs-section {
      width: 100%;
      padding: 4rem 2rem;
    }
    
    .section-title {
      text-align: center;
      font-size: 4rem;
      font-family: "Poppins", sans-serif;
      margin-bottom: 2rem;
      font-weight: 400;
      color: blue;
    }

    .chefs-container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 2rem;
      max-width: 1250px;
      margin: 0 auto;
    }

    .chef-card {
      position: relative;
      background: #444;
      border: 1px solid plum;
      border-radius: 1rem;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      width: 250px;
      height: 350px;
      text-align: center;
      overflow: hidden;
      transition: transform 0.3s;
    }

    .chef-card:hover {
      transform: translateY(-5px);
    }

    .chef-image {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      border: 4px solid #ddd;
      object-fit: cover;
      margin: 2rem auto 0.5rem;
    }

    .chef-name {
      font-size: 3rem;
      font-weight: 500;
      color: #fff;
       font-family: "Italianno", cursive;
       margin-top: 2rem;
    }

    .chef-specialty {
      color: #b3b0b0;
      font-family: "Poppins", sans-serif;
      font-size: 20px;
      margin-bottom: 1rem;
    }

    .socials {
      display: flex;
      justify-content: center;
      gap: 1rem;
      opacity: 0;
      transform: translateY(20px);
      transition: opacity 0.3s ease, transform 0.3s ease;
      padding-bottom: 1rem;
    }

    .chef-card:hover .socials {
      opacity: 1;
      transform: translateY(0);
    }

    .socials a {
      color: #fff;
      font-size: 1.3rem;
      transition: color 0.3s;
    }

    .socials a:hover {
      color: #0077ff;
    }



     .gallery{
      width: 100%;
      padding: 4rem 2rem;
      background: linear-gradient(to right,#f005a9, #00b6fe);
     }

       .gallery h1{
        text-align: center;
        font-size: 4rem;
        font-family: "Poppins", sans-serif;
        margin-bottom: 2rem;
        font-weight: 400;
        color: black;
       }

     .g-cont{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
     }

     .g-cont img{
        width: 400px;
        height: 400px;
        border: 2px solid #ff3d0036;
        border-radius: 13px;
        box-shadow: 4px 7px 7px 0px #00000042;
        cursor: pointer;
        margin: 10px;
        transition: 400ms;
     }

     .g-cont img:hover{
      filter: grayscale(0);
      transform: scale(1.03);
     }

     @media (max-width:800px){
      .gallery h1{
        font-size: 3rem;
        font-weight: 300;
      }

      .g-cont{
        display: block;
      }
      .g-cont img{
        width: 230px;
        height: 230px;
      }
     }

     /* .cart-sect{
      width: 100%;
      background-color: #e3e7e8;
     } */

     .cart-div{
       width: 1000px;
       margin: auto;
       transition: 0.5s;
     }

     .head{
      display: grid;
      grid-template-columns: 1fr 50px;
      padding-top: 50px;
     }

     .shopping{
      position: relative;
      text-align: right;
     }

     .shopping img{
      width: 40px;
     }

      .shopping span{
          background-color: red;
          border-radius: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #fff;
          position: absolute;
          top: -5px;
          left: 80%;
          padding: 3px 10px;
       }

       .list{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;
        row-gap: 20px;
        margin-top: 50px;
       }

       .card{
        position: fixed;
        top: 0;
        left: calc(100% - 500px);
        width: 500px;
        background-color: #453e3b;

       }










     /* .full-width-section {
      width: 100%;
      background: #f5f5f5;
    }
    
    .container {
      display: flex;
      padding: 20px;
      max-width: 100%;
      box-sizing: border-box;
    }
    
    .product-list {
      flex: 3;
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
    }
    
    .product {
      border: 1px solid #ccc;
      padding: 15px;
      background: white;
      width: 200px;
      box-sizing: border-box;
    }
    
    .product img {
      width: 100%;
      height: 150px;
      object-fit: cover;
    }
    
    .add-to-cart {
      background: black;
      color: white;
      border: none;
      padding: 10px;
      margin-top: 10px;
      cursor: pointer;
      width: 100%;
    }
    
    .cart-sidebar {
      flex: 1;
      background-color: #333;
      color: white;
      padding: 20px;
      margin-left: 20px;
      box-sizing: border-box;
      min-width: 250px;
    }
    
    .cart-sidebar ul {
      list-style-type: none;
      padding: 0;
    }
    
    .cart-sidebar li {
      margin-bottom: 10px;
    }
    
    .remove-item {
      background: red;
      color: white;
      border: none;
      padding: 4px 8px;
      margin-left: 10px;
      cursor: pointer;
    }  */




    .footer {
      width: 100%;
      background-color: #fdfdfd;
      text-align: center;
      padding: 40px 20px;
      color: #444;
    }

    .footer h3 {
      margin-bottom: 10px;
      font-weight: 600;
    }

    .footer p {
      max-width: 600px;
      margin: 0 auto 20px;
      color: #777;
      line-height: 1.6;
    }

    .social-icons {
      margin-bottom: 20px;
    }

    .social-icons a {
      margin: 0 10px;
      color: #e27c6f;
      text-decoration: none;
      font-size: 18px;
    }

    .footer .credit {
      color: #999;
      font-size: 14px;
    }

    .skilled {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      padding: 40px;
      width: 100%;
      box-sizing: border-box;
      gap: 30px;
    }

    .text-content  {
      flex: 1;
      margin-top: 50px;
    }

    .video-container{
      flex: 1;
    }

    .text-content h1{
      font-family: "Italianno", cursive;
      font-weight: 500;
      font-size: 60px;
    }

    .text-content p{
      font-family: "Poppins", sans-serif;
      font-size: 20px;
    }


    .skilled video {
      object-fit: cover;
      position: absolute;
      width: 40%;
      height: 50vh;
      border-radius: 8px;
    }

    /* Responsive styles */
    @media (max-width: 768px) {
      .skilled {
        flex-direction: column;
        padding: 20px;
      }

      .text-content {
        padding-right: 0;
      }

      .skilled video {
        width: 90%;
      }
    }


.resturant{
  width: 100%;
  background-color: #666;
  padding: 60px 20px;
}
.r-text{
  text-align: center;
    font-size: 80px;
    font-weight: 300;
    font-family: "Italianno", cursive;
    margin-bottom: 40px;
    color: black;
}
.joints{
  display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
}
.image-div{
  position: relative;
  width: calc(33.33% - 20px);
  height: 500px;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.image-div img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.image-div:hover img{
  transform: scale(1.1);
}

.h-effect{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.55);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.4s ease;
  padding: 20px;
  text-align: center;
}

.image-div:hover .h-effect{
  opacity: 1;
}
.h-effect{
  font-family: "Italianno", cursive;
  font-size: 50px;
  margin-bottom: 15px;
}

@media (max-width: 1024px) {
  .image-div {
    width: calc(50% - 20px);
  }
}

@media (max-width: 600px) {
  .image-div {
    width: 100%;
  }
  .resturant{
      font-size: 50px;
  }
}
























































/* .sub-text{
    text-align: center;
    font-size: 150px;
    font-weight: 500;
    font-family: "Italianno", cursive;
    margin-bottom: 30px;
    color: #162530;
}


.sub-text span{
    text-decoration: none;
    color: blue;
}
.hover {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    height: 150vh;
    width: 100%;
  }

  .image-card {
    position: relative;
    overflow: hidden;
    height: 300px;
    width: 300px;
    border-radius: 5px;
    margin: 75px 70px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }

  .image-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
  }

  .image-card:hover img {
    transform: scale(1.1);
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.4s ease;
    text-align: center;
    padding: 20px;
  }

  .image-card:hover .overlay {
    opacity: 1;
  }

  .overlay h1 {
    margin-bottom: 15px;
    font-size: 60px;
    font-family: "Italianno", cursive;
  }

  .overlay button {
    padding: 10px 20px;
    background: blue;
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s ease;
  }

  .overlay button:hover {
    background: rgb(98, 98, 207);
  }

  @media (max-width: 768px) {
    .hover {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 480px) {
    .hover {
      grid-template-columns: 1fr;
    }
  }
 */































/* .container{
    width: 1280px;
    min-height: 500px;
    display: flex;
    background: #fff;
     margin:  70px auto 0; 
    flex-direction: row;
    flex-wrap: wrap;
}

.container .box{
    position: relative;
    width: 290px;
    height: 290px;
    background: red;
    margin: 65px;
    box-sizing: border-box;
    display: inline-block;
}

.container .box .img-box{
    position: relative;
    overflow: hidden;
}

.container .box .img-box img{
    max-width: 100%;

}
 */




/* section{
    padding: 2rem 6%;
} */

.heading{
    text-align: center;
    font-size: 3.5rem;
    padding: 0;
    color: #666;
}
.heading span{
    color: blue;
}

 /* .specialty .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

 .specialty .box-container .box{
    flex: 1 1 20rem;
     position: relative;
    overflow: hidden; 
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    border: 1rem solid rgba(0, 0, 0, .3);
    cursor: pointer;
    border-radius: .5rem;
}

 .specialty .box-container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute; 
    top: -100%;
    left: 0;
} 
 */


     












