@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
  } */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}

:root {
    --text-color: #021f2a;
    --bf-color: #fff;
}

html::-webkit-scrollbar {
    width: 0.25rem;
}

.html::-webkit-scrollbar-thumb {
    background: transparent;
}

.html::-webkit-scrollbar-track {
    background: var(--text-color);
    border-radius: 5rem;
}

.header {
    min-height: 100vh;
    width: 100%;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
}

.fv {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -999;
}

.logo {
    padding: 2% 6%;
    font-size: 1rem;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: var(--bf-color);
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: var(--bf-color);
    display: block;
    margin: auto;
    transition: 0.4s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.text-box {
    width: 90%;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Poppins", sans-serif;
    text-align: center;
}

.text-box h1 {
    font-size: 80px;
    font-weight: 400;
    letter-spacing: 2px;
}

.ex-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 14px 45px;
    font-size: 15px;
    background: transparent;
    position: relative;
    cursor: pointer;
    letter-spacing: 2px;
}

.ex-btn:hover {
    background: blue;
    border: 1px solid blue;
    color: black;
    transition-duration: 1s;
}

.nav.fa {
    display: none;
}

@media(max-width: 700px) {
    .text-box h1 {
        font-size: 25px;
    }

    .ex-btn {
        padding: 12px 43px;
        font-size: 12px;
        top: 20px;
    }

    .nav-links ul li {
        display: block;
    }

    .nav-links ul li a {
        font-size: 15px;

    }

    /* .nav-links {
        position: absolute;
        background: turquoise;
        height: 100vh;
        width: 170px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1.5s;
        line-height: 40px;
    }


    nav.fa {
        display: block;
        color: black;
        margin: 10px;
        font-size: 25px;
        cursor: pointer;
    } */

    .nav-links ul {
        padding: 25px;
    }
}

.place-sect {
    display: block;
    height: fit-content;
    width: 100%;
    background-color: rgb(184, 184, 221);
    
}

.text-f {
    height: 20vh;
    width: 100%;
}

.text-f h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}

.p-pic {
    height: 80vh;
    width: 100%;
    display: flex;
    /* border: 2px solid orangered; */
}

@media (max-width: 700px) {
    .p-pic {
        /* display: block; */
        height: 100%;
        flex-direction: column;
    }

    .p-cont {
        min-width: 80%;
        max-height: 60%;
        margin: 10px 20px;
        padding: 0px;
        /* width: 100%; */
    }
}

.p-cont {
    height: 70vh;
    width: 30%;
    margin: 20px 30px;
    border: 2px solid #110df536;
    /* overflow: hidden; */
}

.p-cont img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 4px 7px 7px 0px #00000042;
    cursor: pointer;
    transition: 400ms;
}

.p-cont img:hover {
    filter: grayscale(0);
    transform: scale(1.03);
}









@media (max-width: 700px) {
    .text-f h2 {
        font-size: 25px;
        font-weight: 500;
    }

}


/* .place-sect{
    height: 90vh;
    width: 100%;
    border: 2px solid blue; 
    background-color: #fff;
    display: flex;
 } */


/* div{
     width: 70px; 
     margin: 20px 30px; 
     border: 2px solid blue; 
    
 }

 div img{
   
 } */